/*h1 a, h2 a {
    color: white;
    font-family: 'Mukta', sans-serif;
}*/
body {
    background-color: #151b22;
}

h1, h2, h3, h4 {
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
}
h2 a:hover {
    color: rgb(0, 132, 255);
}

h2 a:visited {
    color: white;
}

p{
    color: white;
    margin: 0;
}

.page-header {
    background-color: #3a2031;
    margin-top: 0;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header h1{
    background-color: #151b22;
    color: #ffb347;
    font-size: 20pt;
    font-family: lobster;
    display: inline-block;
    border-radius: 7px;
    padding: 10px;
    margin: 0;
}
.page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffb347;
    text-decoration: none;
}

.page-header .right-block {
    display: flex;
    justify-content: flex-end;
}

.top-menu {
    color: #dee3eb;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}
.button-template {
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    background: orange;
    color: black;
}

.top-button:hover {
    background: rgb(255, 187, 0);
}

.content {
    margin-top: 30px;
}
/*.page-header .right-block a{
    background-color: orange;
    border-radius: 5px;
    border: none;
}*/

/*.page-header p{
    margin: 0 10px 0 0;
    font-size: 20px;
}*/
/*.what {
    background-color: orange;
}

.what h1, .what h1 a, .what h1 a:visited, .what h1 a:active{
    color: #ffb347;
    font-size: 30px;
    text-decoration: none;
    background-color: #151b22;
    display: inline-block;
    margin: 0;
}*/

/*.container {
    background-color: rgb(16, 29, 46);
}*/

/* h2 {
    font-family: 'Poiret One', cursive;
}*/

.post-author {
    font-size: 15px;
    color: #ada6bd;
}
.date {
    font-size: 13px;
    color: #9c97ac;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post-list-container {
    max-width: 45em;
    margin: auto;
}

.post {
    margin-bottom: 10px;
    padding: 20px 50px;
    background-color: #3a2031;
    border-radius: 5px;
}

.post-detail h2 {
    font-size: 60px;
}
.post-detail .date{
    display: inline-block;
}
.post-detail .button-template {
    font-size: 15px;
    padding: 2px 5px;
    display: inline-block;
}
.post-detail p {
    margin-top: 50px;
}
.comment {
    margin: 20px 0px 20px 20px;
}


